<!DOCTYPE html >
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="jquery-1.11.3.min.js"></script>
    <script src="angular.js"></script>
    <script src="fetchController.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body ng-app="httpExample">
<div ng-controller="FetchController">
    <input type="text" ng-model="url" size="80" aria-label="URL"/>
    <button id="fetchbtn" ng-click="fetch();">fetch</button>
    <br>
    <pre>http status code: {{status}}</pre>
    <pre>http response data: <!--{{data}}--><!-- -->
     <ul>
         <li ng-repeat="element in data track by $index">id = {{ element.id }} , vardas = {{ element.name }} list {{ element.title }} </li>
         <!--<ul ng-repeat="elements in data track by $index">ID = {{ elements.id }} , Title = {{ elements.title }}</ul>-->
     </ul><!-- track by $index-->
    </pre>
</div>
<div ng-repeat-end id="test"></div>
<span id="chronotime">0:00:00:00</span>
<div ng-controller="FetchController" class="container">
    <form class="form-inline col-xs-12" name="chronoForm">
        <div class="form-group col-xs-12">
            <input class="btn btn-default " id="startstop" type="button" name="startstop" value="start!"
                   ng-click="chronoToggle()"/>
        </div>
        <button id="posttask" ng-click="postTaskData()">PostTask</button>
        <div ng-repeat="elements in taskdata track by $index">ID = {{ elements.id }} , Title = {{ elements.title }}
        </div>
        <div class="form-group col-xs-12">
            <input id="project" type="text" name="project" placeholder="Project">
            <input id="task" type="text" name="task" value="" placeholder="Task">
        </div>
        <div class="form-group">
            <text id="total"></text>
        </div>
    </form>
</div>
<!--<webview id="web" src="http://savarankiskas/public/api/projects" nodeintegration>.getURL()</webview>-->
<!--</div>-->
</body>
</html>
